header{
    img{
        width: 100%;
    }
}

.super{
    font-size: 2em;
    font-weight: $fontBolt;
    color:$mainColor;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 40%;
    
        &:hover{
        color:$mainColor;
        background-color: $secondaryColor;
    
        }
   
}


footer{
    @include flex(row,space-between,center,nowrap);
    background-color: black;
 
    ul{
        display: flex;
            margin: 0px 30px;
            font-size: $textSm;
            list-style: none;
            text-decoration: none;
            li{
                margin: 15px;
                a{
                    color: $mainColor;
                    text-decoration: none;

                    &:hover{
                        color:$secondaryColor;
                    }
                }
            }
    }
    div{
        a{
            svg{
                width: 38px;
                height: 31px;
               
            }
        }
    }
    a{
        text-decoration: none;
    }
}
